header{
    position: sticky;
    width: 100%;
    top: 0;
    grid-area: header;

    z-index: 100;
    hr{
        margin: 0;
    }
}

nav{

    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    background-color: #243a73;



    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(3px);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;

    ul{
        padding: 0;
    }
    a{
        
        transition: all 0.3s ease-in-out ;
        color: aliceblue;
        text-decoration: none;
        &:hover{
            transform: scale(1.1);
        }
    }
}


.cell-phone{
    font-size: 20px;
}

.nav-icon{
    color: peru;
    font-size: 20px;
}

.img-logo-nav{
    opacity: 0.9;
    height: 100px;
    width: 100px;
}

.house-logo{
    font-size: 30px;
    color: peru;
}
.nav-links {
    position: absolute;
    width: 100%;
    
    right: 0;

    top: 11.9vh;

    height: 50vh;

    background-color: rgba(36, 58, 115, .8);

    display: flex;
    flex-direction: column;

    transform: translateX(100%) ;
    transition: transform 0.5s ease-in-out;

    justify-content: space-around;
    align-items: center;


    z-index: 5;

    display: none;

    li{
        transition: all 0.3s ease-in-out ;
        list-style: none;
        padding: 0;
        margin: 0;
        &:hover{
            transform: scale(1.1);

        }
    }
    a{
        color: aliceblue;
        text-decoration: none;
        font-size: 25px;
        &:hover{

            color: #F7ECD5;
        }
    }
}


.show-nav-links{
    
    display:flex;
    position: fixed;
}


.burger-nav{
    cursor: pointer;
}

.burger-icon{
    color: aliceblue;
    width: 26.25px;
    height: 30px;
    font-size: 30px;
}

.nav-active{
    transform: translateX(0%);
}

@keyframes navLinkFade {
    from{
        opacity: 0;
        transform: translateX(25px);
    }
    to{
        opacity: 0.5;
        transform: translateX(25px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}